
body{ 
       
       text-align:center;
       color:black;
       font-family:Arial, Helvetica, sans-serif;
    }

.intro{ 
       
      text-align:left;
      color:black;
      font-family:Arial, Helvetica, sans-serif;
   }